/*@media screen and (max-width: 1000px) {
  .sponsors-section {
    width: 50%;
    margin-bottom: 50px;
  }

  .top-wrapper h1 {
    font-size: 32px;
  }

  .top-wrapper p{
     font-size: 22px;
  }

  .message h1 {
    font-size: 20px;
  }

  .message h1 {
    font-size: 13px;
  }

  .contact-section{
    width: 50%;
    margin-bottom: 50px;
  }

  footer {
    text-align: center;
  }
}*/

@/*media screen and (max-width: 670px) {
  .sponsors-section {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .header-right{
    display:none;
  }
  
  .menu-icon{
    display:block;
  }

  .top-wrapper {
    text-align: left;
  }

   .top-wrapper h1 {
    font-size: 22px;
  }

  .top-wrapper p{
     font-size: 10px;
  }

  .message h1 {
    font-size: 13px;
  }

  .message p {
    font-size: 5px;
    font-weight: none;
  }

  .contact-section{
    width: 100%;
    margin-bottom: 30px;
  }

  .staff-1{
    margin-top: -20px;
  }
  
}*/